<div class="customHeader">
    <div class="logoContainer">
        <img src="{{ content.logoUrl }}" />
    </div>

    <div class="linksContainer">
        <ul>
            {{#each content.links }}
                <li>
                    <a href="{{ url }}">{{ title }}</a>
                </li>
            {{/each}}
        </ul>
    </div>

    {{#if settings.showCart }}
        <div class="cartContainer">
            {{#eq settings.cartIcon 'cart' }}
                <img src="https://static-cdn.styla.com/custom-modules-demo/shopping-cart-solid.svg" />
            {{/eq}}
            {{#eq settings.cartIcon 'basket' }}
                <img src="https://static-cdn.styla.com/custom-modules-demo/shopping-basket-solid.svg" />
            {{/eq}}
        </div>
    {{/if}}

    <div data-overlay-visible="no" class="cartOverlay">
        <div class="cartContent">cart content goes here</div>
    </div>

</div>

<style>
    /* 
        The following styles are relying on dynamic setting variables, therefore are declared
        in this file, instead of being in the sass file 
    */

    .customHeader .logoContainer {
        max-width: {{settings.logoMaxWidth}}px;
    }

    .customHeader .linksContainer li a {
        margin: 0 {{settings.linksSpacing}}px;
    }

</style>